<sky-repeater
  [expandMode]="expandMode"
  [reorderable]="reorderable"
>

  <sky-repeater-item
    *ngFor="let item of items"
    [isExpanded]="item.expanded"
    [reorderable]="reorderable"
    [selectable]="selectable"
  >
    <sky-repeater-item-title>
      <div class="pull-left">
        {{item.title}}
      </div>
      <div class="pull-right">
        <span class="label">
          {{item.status}}
        </span>
      </div>
    </sky-repeater-item-title>
    <sky-repeater-item-context-menu>
      <sky-dropdown
        buttonType="context-menu"
      >
        <sky-dropdown-menu>
          <sky-dropdown-item>
            <button type="button">
              Action 1
            </button>
          </sky-dropdown-item>
          <sky-dropdown-item>
            <button type="button">
              Action 2
            </button>
          </sky-dropdown-item>
        </sky-dropdown-menu>
      </sky-dropdown>
    </sky-repeater-item-context-menu>
    <sky-repeater-item-content>
      <div>
        {{item.note}}
      </div>
    </sky-repeater-item-content>
  </sky-repeater-item>
</sky-repeater>

<p>
  <label class="sky-margin-inline-default">
    Expand mode:
    <select [(ngModel)]="expandMode">
      <option value="none">
        None
      </option>
      <option value="single">
        Single
      </option>
      <option value="multiple">
        Multiple
      </option>
    </select>
  </label>
  <button class="sky-btn sky-margin-inline-default" (click)="addItem()">Add item</button>
  <button class="sky-btn sky-margin-inline-default" (click)="removeItem()">Remove last item</button>
</p>
<p>
  <sky-checkbox [(ngModel)]="reorderable">
    <sky-checkbox-label>
      Enable reorderability
    </sky-checkbox-label>
  </sky-checkbox>
</p>
<p>
  <sky-checkbox [(ngModel)]="selectable">
    <sky-checkbox-label>
      Enable selectability
    </sky-checkbox-label>
  </sky-checkbox>
</p>
