<sky-row>
  <sky-column screenSmall="6">
    <h2 class="sky-section-heading">
      Reactive form setup
    </h2>

    <form
      novalidate
      [formGroup]="reactiveForm"
      (ngSubmit)="submitReactiveForm()"
    >
      <div class="sky-form-group">
        <label
          class="sky-control-label"
          id="my-select-field-1"
        >
          Favorite color
        </label>
        <sky-select-field
          ariaLabelledBy="my-select-field-1"
          formControlName="favoriteColor"
          pickerHeading="Colors"
          selectMode="single"
          singleSelectClearButtonTitle="Clear selected color"
          singleSelectOpenButtonTitle="Select color"
          singleSelectPlaceholderText="Select color..."
          [data]="colorStream"
        >
        </sky-select-field>
      </div>

      <div class="sky-form-group">
        <label
          class="sky-control-label"
          id="my-select-field-2"
        >
          Favorite fruits
        </label>
        <sky-select-field
          ariaLabelledBy="my-select-field-2"
          formControlName="favoriteFruits"
          multipleSelectOpenButtonText="Select fruits"
          pickerHeading="Fruits"
          [data]="fruitStream"
        >
        </sky-select-field>
      </div>

      <div class="select-field-demo-alert">
        <strong>Form model:</strong>
        <pre>{{ reactiveForm.value | json }}</pre>
      </div>

      <button
        class="sky-btn sky-btn-primary"
        type="submit"
      >
        Submit
      </button>
    </form>
  </sky-column>
  <sky-column screenSmall="6">
    <h2 class="sky-section-heading">
      Template-driven form setup
    </h2>

    <form
      novalidate
      (ngSubmit)="submitTemplateForm(myForm.value)"
      #myForm="ngForm"
    >
      <div class="sky-form-group">
        <label
          class="sky-control-label"
          id="my-select-field-template-driven-1"
        >
          Favorite color
        </label>
        <sky-select-field
          ariaLabelledBy="my-select-field-template-driven-1"
          name="favoriteColor"
          pickerHeading="Colors"
          selectMode="single"
          singleSelectClearButtonTitle="Clear selected color"
          singleSelectOpenButtonTitle="Select color"
          singleSelectPlaceholderText="Select color..."
          [data]="colorStream"
          [(ngModel)]="templateDrivenModel.favoriteColor"
        >
        </sky-select-field>
      </div>

      <div class="sky-form-group">
        <label
          class="sky-control-label"
          id="my-select-field-template-driven-2"
        >
          Favorite fruits
        </label>
        <sky-select-field
          ariaLabelledBy="my-select-field-template-driven-2"
          multipleSelectOpenButtonText="Select fruits"
          name="favoriteFruits"
          pickerHeading="Fruits"
          [data]="fruitStream"
          [(ngModel)]="templateDrivenModel.favoriteFruits"
        >
        </sky-select-field>
      </div>

      <div class="select-field-demo-alert">
        <strong>Form model:</strong>
        <pre>{{ myForm.value | json }}</pre>
      </div>

      <button
        class="sky-btn sky-btn-primary"
        type="submit"
      >
        Submit
      </button>
    </form>
  </sky-column>
</sky-row>
<sky-row>
  <sky-column screenSmall="12">
    <h2 class="sky-section-heading">
      Disabled select fields
    </h2>

    <div class="sky-form-group">
      <label
        class="sky-control-label"
      >
        Favorite color (disabled)
      </label>
      <sky-select-field
        [disabled]="true"
        selectMode="single"
        [data]="colorStream"
        singleSelectPlaceholderText="Select color..."      >
      </sky-select-field>
    </div>

    <div class="sky-form-group">
      <label
        class="sky-control-label"
      >
        Favorite fruits (disabled)
      </label>
      <sky-select-field
        [data]="fruitStream"
        [disabled]="true"
        multipleSelectOpenButtonText="Select fruits"
        >
      </sky-select-field>
    </div>
  </sky-column>
</sky-row>

<sky-row>
  <sky-column screenSmall="12">
    <h2 class="sky-section-heading">
      Custom picker
    </h2>

    <div class="sky-form-group">
      <label
        class="sky-control-label"
        id="my-select-field-custom-1"
      >
        Favorite color
      </label>
      <sky-select-field
        ariaLabelledBy="my-select-field-custom-1"
        name="favoriteColorCustom"
        selectMode="single"
        singleSelectClearButtonTitle="Clear selected color"
        singleSelectOpenButtonTitle="Select color"
        singleSelectPlaceholderText="Select color..."
        [customPicker]="customFavoriteColorPicker"
        [data]="colorStream"
      >
      </sky-select-field>
    </div>

    <div class="sky-form-group">
      <label
        class="sky-control-label"
        id="my-select-field-custom-2"
      >
        Favorite fruits
      </label>
      <sky-select-field
        ariaLabelledBy="my-select-field-custom-2"
        multipleSelectOpenButtonText="Select fruits"
        name="favoriteFruitsCustom"
        [customPicker]="customFavoriteFruitPicker"
        [data]="fruitStream"
      >
      </sky-select-field>
    </div>
  </sky-column>
</sky-row>
