<h2>
  Passive progress indicator
</h2>

<button
  class="sky-btn sky-btn-link"
  skyPopoverPlacement="right"
  skyPopoverTrigger="mouseenter"
  type="button"
  [skyPopover]="myPopover1"
>
  In progress
</button>

<sky-popover #myPopover1>
  <sky-progress-indicator
    [isPassive]="true"
    [startingIndex]="1"
  >
    <sky-progress-indicator-item
      title="Received (02-19-2019)"
    >
    </sky-progress-indicator-item>
    <sky-progress-indicator-item
      title="Awaiting approval"
    >
    </sky-progress-indicator-item>
    <sky-progress-indicator-item
      title="HIDDEN TITLE"
    >
    </sky-progress-indicator-item>
  </sky-progress-indicator>
</sky-popover>
