<div style="margin-bottom: 20px;">
  <button
    aria-haspopup="dialog"
    class="sky-btn sky-btn-default sky-margin-inline-default"
    type="button"
    (click)="openOKConfirm()">
    OK confirm
  </button>

  <button
    aria-haspopup="dialog"
    class="sky-btn sky-btn-default sky-margin-inline-default"
    type="button"
    (click)="openYesCancelConfirmWithBody()">
    Yes/cancel confirm with body
  </button>

  <button
    aria-haspopup="dialog"
    class="sky-btn sky-btn-default sky-margin-inline-default"
    type="button"
    (click)="openCustomConfirm()">
    Custom confirm
  </button>
</div>

<sky-alert *ngIf="selectedAction && selectedText">
  You selected the "{{ selectedText }}" button, which has an action of "{{ selectedAction }}."
</sky-alert>
<sky-alert *ngIf="selectedAction && !selectedText">
  You selected the "{{ selectedAction }}" action.
</sky-alert>
