<h2
  class="sky-section-heading"
>
  Template-driven datepicker
</h2>

<div
  class="sky-padding-even-default"
  style="max-width: 400px;"
>
  <sky-datepicker>
    <input
      skyDatepickerInput
      [dateFormat]="dateFormat"
      [disabled]="disabled"
      [maxDate]="maxDate"
      [minDate]="minDate"
      [(ngModel)]="selectedDate"
      #date="ngModel"
    />
  </sky-datepicker>

  <p *ngIf="date.errors && date.errors.skyDate && (date.dirty || date.touched)"
    class="sky-error-label"
  >
    <span *ngIf="date.errors.skyDate?.invalid">
      Please enter a date in the '{{ dateFormat }}' format.
    </span>

    <span *ngIf="date.errors.skyDate?.maxDate">
        This date is later than allowed. Please select a date before {{ formatDateForDisplay(maxDate) }}.
    </span>

    <span *ngIf="date.errors.skyDate?.minDate">
        This date is earlier than allowed. Please select a date after {{ formatDateForDisplay(minDate) }}.
    </span>
  </p>

  <p>
    Selected date: {{ selectedDate }}.
  </p>
</div>

<h2
  class="sky-section-heading"
>
  Reactive form datepicker
</h2>

<div
  class="sky-padding-even-default"
  style="max-width: 400px;"
>
  <form
    novalidate
    [formGroup]="reactiveForm"
  >
    <sky-datepicker>
      <input
        formControlName="selectedDate"
        skyDatepickerInput
        [maxDate]="maxDate"
        [minDate]="minDate"
      />
    </sky-datepicker>
  </form>

  <p *ngIf="reactiveDate.errors && (reactiveDate.dirty || reactiveDate.touched)"
    class="sky-error-label"
  >
    <span *ngIf="reactiveDate.errors.skyDate?.invalid">
      Please enter a date in the '{{ dateFormat }}' format.
    </span>
    <span *ngIf="reactiveDate.errors.skyDate?.maxDate">
      This date is later than allowed. Please select a date before {{ formatDateForDisplay(maxDate) }}.
    </span>
    <span *ngIf="reactiveDate.errors.skyDate?.minDate">
      This date is earlier than allowed. Please select a date after {{ formatDateForDisplay(minDate) }}.
    </span>
    <span *ngIf="reactiveDate.errors.required">
      A date is required.
    </span>
  </p>

  <p>
    Selected date: {{ reactiveDate.value }}.
  </p>
</div>

<div
  class="sky-padding-even-default"
>
  <p>
    <sky-toggle-switch
      [(ngModel)]="enableDatepicker"
    >
      <sky-toggle-switch-label>
        Enable datepicker
      </sky-toggle-switch-label>
    </sky-toggle-switch>
  </p>
  <p>
    <sky-toggle-switch
      [(ngModel)]="enableMaxMinDates"
    >
      <sky-toggle-switch-label>
        Set max/min dates (1/1/2019 - 1/1/2029)
      </sky-toggle-switch-label>
    </sky-toggle-switch>
  </p>
  <p>
    <button
      class="sky-btn sky-btn-secondary"
      (click)="resetDates()"
    >
      Reset dates
    </button>
  </p>
</div>
